/* 
html {
  width: 100%;
} */

body {
    margin: 0px;
    padding: 0px;
}



.menu-web{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    /* padding: 0px 10px; */
}

.menu-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand-name {
    margin-left: 40px;

}

.logo a {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.navbar {
    display: flex;
    /* align-items: center; */
    align-content: center;
    justify-content: flex-end;
    margin-right: 40px;
    height: 100%;
    /* background-color: white; */
}

.search-bar #article-search {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #000;
    /* border-radius: 30px; */
    color: #2c2c2c;
    height: 2rem;
    margin: .55rem;
    align-items: center;
    line-height: normal;
    font-size: 0.9rem;
}

.search-bar-right #article-search {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #000;
  /* border-radius: 30px; */
  color: #2c2c2c;
  height: 2rem;
  margin: auto;
  line-height: normal;
  font-size: 0.9rem;
}

.navbar ul {
    padding: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-content: center;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    font-size: 0.7rem;
    text-transform: uppercase;
}


.menu-btn {
  padding: 0.7rem;
  margin: 2px;
  color: #000;
}

i .fas {
  width: 100%;
  /* color: #000; */
}

/* .fa-bell .fa-user-circle .fa-pencil-alt {
  color: black;
} */

.menu-btn:hover  {
  background-color: white;
  box-shadow: 2px 2px 5px;
  transition: 0.5s;
}


.menu-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 45px;
    height: 45px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 25px;
    height: 25px;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s ease;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: rgba(255, 255, 255, 0.7);
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul {
    padding: 0px;
    margin: 0px;
  }


  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    text-transform: uppercase;
    color: rgb(22, 22, 22);
    font-size: 1.3rem;
    padding: 1rem;
    font-weight: 100;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  

.dashboard-bg{

  background: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;
} 


/* Landing Page */

.landing-page {
    background: url("../images/PM-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 10px solid black; */
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    /* width: 100vw; */
}

.landing-text {
  margin-top: 12rem;
}

.landing-text h1 {
  margin-bottom: 10px;
  font-weight: 300;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

.landing-text p {
  margin-top: 10px;
  font-weight: 300;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
  /* text-transform: uppercase; */
}

@media(max-width:872px){
    .navbar{display: none}
    .search-bar #article-search{display: none}
}

@media(min-width:872px){
  .menu-wrap{display: none}
}

